html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
html {font-size: 625%;}
div,h1,h2,h3,h4,h5,h6,p,span{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
#pic{
    width:1.55rem;
    height: 1.3rem;
    margin: 0 auto;
}
#pic img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:625%}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:690%}}