html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/*html {font-size: 60px!important;}*/
div,h1,h2,h3,h4,h5,h6,p,span{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
